<div ng-controller="MainCtrl">

    <div class="container-fluid">

        <div class="row-fluid">

            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"><i class="icon-info"></i></span>
                    <h5>{{tmp.name}} - {{tmp.des}}</h5>
                </div>
                <div class="widget-content">
                    <div class="form-group">
                        <label>Cluster: </label>
                        <select ng-model="tmp.context" ng-options="a.value as a.value for a in tmp.contextList"
                                style="width: 80px;" ng-change="onContextChoose()">
                            <option value="" selected>--/--</option>
                        </select>

                        <input type="text" ng-model="tmp.keyword" placeholder="Input Keyword"/>
                        <button class="btn" ng-click="queryLl()">Query</button>
                    </div>

                    <ul class="nav nav-tabs" ui-tabs="{}">
                        <li><a>Server List</a></li>
                        <li><a>Uri List</a></li>
                        <li><a>Method List</a></li>
                    </ul>

                    <div class="tabs">
                        <legend>Server List</legend>
                        <table class="table table-bordered table-striped">
                            <tr>
                                <th width="20%">Address</th>
                                <th width="10%">Is Ready</th>
                                <th width="20%">Load Balance Weight</th>
                                <th width="10%">Metrics On</th>
                                <th width="20%">Registry Time</th>
                                <th></th>
                            </tr>
                            <tr ng-repeat="one in list">
                                <td style="text-align: left;">{{one.host}}:{{one.port}}</td>
                                <td>
                                    <span class="bg-info">{{one.ready}}</span>
                                    <br/>
                                    <button ng-show="one.ready" class="btn"
                                            ng-click="changeReady(one)">Set Not Ready
                                    </button>
                                    <button ng-show="!one.ready" class="btn btn-red"
                                            ng-click="changeReady(one)">Set Ready
                                    </button>
                                </td>
                                <td><span class="bg-info">{{one.weight}}</span></td>
                                <td>
                                    <span class="bg-info">{{one.metricExportPort != 0}}</span>
                                    <br/>
                                    <button ng-show="one.metricExportPort != 0" class="btn"
                                            ng-click="showMetrics(one)">Show Metrics
                                    </button>
                                </td>
                                <td>
                                    {{one.updatedTime|date:'yyyy/MM/dd HH:mm:ss'}}
                                    <br/>
                                    {{one.updatedTime|timeAgo}}
                                </td>
                                <td class="opts">
                                    <button class="btn" ng-click="updateWeight(one)">Update Weight</button>
                                    <button class="btn" ng-click="updateParams(one)">Update Parameters</button>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="tabs">
                        <legend>Uri List</legend>
                        <table class="table table-bordered table-striped">
                            <tr>
                                <th width="80%">Uri</th>
                                <th></th>
                            </tr>
                            <tr ng-repeat="one in uriList">
                                <td style="text-align: left;">{{one}}</td>
                                <td class="opts">
                                    <button class="btn" ng-click="viewUriStats(one)">Stats</button>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="tabs">
                        <legend>Method List</legend>
                        <table class="table table-bordered table-striped">
                            <tr>
                                <th width="30%">Interface</th>
                                <th width="20%">Method</th>
                                <th width="30%">Argument Types</th>
                                <th></th>
                            </tr>
                            <tr ng-repeat="one in methodList">
                                <td style="text-align: left;">{{one.clazz}}</td>
                                <td style="text-align: left;">{{one.method}}</td>
                                <td style="text-align: left;">{{one.paramTypes}}</td>
                                <td class="opts">
                                    <button class="btn" ng-click="viewMethodStats(one)">Stats</button>
                                </td>
                            </tr>
                        </table>
                    </div>

                </div>
            </div>

        </div><!-- /.row-fluid -->

    </div>

    <script type="text/x-template"
            ui-dialog="{showModel: 'ctrl.isShowStats', titleModel: 'tmp.statsDialogTitle', dialogId: 'dialogStats', fixPosition: true, lock: true, fixed: true, ext: {max: true}}">
        <div style="height: 500px; overflow-y: auto;">
            <div class="form-group">
                <label>Filter: </label>
                <input type="text" ng-model="tmp.statsKeyword" placeholder="Input Keyword"/>
            </div>
            <table class="table table-bordered table-striped m_top6" style="width: 600px;">
                <tr>
                    <th width="70%">Key</th>
                    <th>Value</th>
                </tr>
                <tr ng-repeat="one in statsList">
                    <td style="text-align: left;">{{one.key}}</td>
                    <td style="text-align: left;">{{one.value}}</td>
                </tr>
            </table>
        </div>
        <button class="btn" ng-click="ctrl.isShowStats = false">Close</button>
    </script>

    <script type="text/x-template"
            ui-dialog="{showModel: 'ctrl.isShowParamsUpdate', titleModel: 'tmp.paramsDialogTitle', dialogId: 'dialogParams', fixPosition: true, lock: true, fixed: true, ext: {max: false}}">
        <table class="table table-bordered table-striped m_top6" ng-form="tmp.addForm" style="width: 400px;">
            <tr>
                <th width="40%">Key</th>
                <th width="40%">Value</th>
                <th width="20%">
                    <button class="btn" ng-click="tmp.paramList.push({})">Add One Param</button>
                </th>
            </tr>
            <tr ng-repeat="param in tmp.paramList">
                <td>
                    <select ng-model="param.key" style="width: 200px;" ui-valid="r"
                            ng-change="changeParamValidRule(param.key)">
                        <option value="test.key" selected>just for test</option>
                        <option value="client.send.retries">retries</option>
                        <option value="client.request.timeout.millis">request timeout</option>
                        <option value="client.get.response.timeout.millis">get response timeout</option>
                        <option value="client.channel.number.per.server">channel number per client</option>
                    </select>
                </td>
                <td>
                    <input type="text" ng-model="param.value" ui-valid="{{param.validRule}}" style="width: 120px;"/>
                </td>
                <td>
                    <button class="btn" ng-click="tmp.paramList.remove(param)">-</button>
                </td>
            </tr>
        </table>
        <button class="btn btn-blue" ng-click="saveParams()">Save</button>
        <button class="btn" ng-click="ctrl.isShowParamsUpdate = false">Close</button>
    </script>

</div>